// -----------------------------------------------------------------------
// ----------------------- Footer internas ----------------------- //

.page-node-type-page,
.user-logged-in,
.path-user,
.page-node-type-cursos-y-talleres{
	
	.footer {
	
		padding-bottom: 0;
	    
	    .region-footer{
			
			section{
				
				// info edificio
				&:nth-child(2){
					
					background: $color_brand_white;
				    position: relative;
				    border-radius: 0;
				    border: 0px;
					padding: 0;
				    &::before,
				    &::after {
				        content: "";
				        background: $color_brand_white;
				        display: block;
				        width: 100%;
				        height: 100%;
				        position: absolute;
				        top: 0;
				        left: 100%;
				    }
				    &::after {
				        left: auto;
				        right: 100%;
				    }
				    
				    @include inline-block(top);
					@include grid-porcentaje(6);
					float: left;
					padding: 3rem 10px;
					
					> div{
						
						&:nth-child(1){
							
							position: relative;
							
							&:before{
								background: url(../images/svg/ilustracion-3.svg);
								position: absolute;
							    width: 2477px;
							    height: 634px;
							    top: -46rem;
							    content: "";
							    left: -115rem;
							    z-index: 1;
							}
						
						}
						
					}
				    
				}
				
				// info logos
				&:nth-child(3){
					
					background: $color_brand_white;
				    position: relative;
				    border-radius: 0;
				    border: 0px;
					padding: 0;
				    &::before,
				    &::after {
				        content: "";
				        background: $color_brand_white;
				        display: block;
				        width: 40%;
				        height: 100%;
				        position: absolute;
				        top: 0;
				        left: 100%;
				    }
				    &::after {
				        left: auto;
				        right: 100%;
				        display: none;
				    }
				    
				    @include inline-block(top);
					@include grid-porcentaje(4);
					float: left;
					padding: 1rem 10px;
					
					.field--name-body{
						
						p{
							
							// escuela logo
							img{
								@include inline-block(top);
								@include grid-porcentaje(6);
								float: left;
							}
							
							// logo ueb
							a{
								@include inline-block(top);
								@include grid-porcentaje(6);
								float: left;
								
								img{
									@include grid-porcentaje(12);
								}
								
							}
							
						}
						
					}
				    
				}
				
				// info vigilada
				&:nth-child(4){
					
					background: $color_brand_white;
				    position: relative;
				    border-radius: 0;
				    border: 0px;
					padding: 0;
				    &::before,
				    &::after {
				        content: "";
				        background: $color_brand_white;
				        display: block;
				        width: 0;
				        height: 100%;
				        position: absolute;
				        top: 0;
				        left: 100%;
				    }
				    &::after {
				        left: auto;
						right: 7%;
						width: 400%;
				    }
				    
				    @include inline-block(top);
					@include grid-porcentaje(12);
					//float: left;
					padding: 2rem;
					
					.field--name-body{
						position: relative;
						z-index: 1;
						
						p{
						font-size: 12px;
						text-align: center;
					}
						
					}
				    
				}
				
			}
			
		}
		
	}
	
}