// -----------------------------------------------------------------------
// ----------------------- Cursos ----------------------- //

// container general
.page-node-type-page,
.page-node-type-cursos-y-talleres{
	
	div[role="main"]{
	
		.row{
			
			div[role="heading"]{
				
				section{
					
					&:nth-child(2){
						
						background: $color_brand_white;
					    position: relative;
					    //width: 100%;
					    margin-top: 10rem;
					    border-radius: 0;
					    border: 0px;
						padding: 2rem 0 11rem;
						display: grid;
					    &::before,
					    &::after {
					        content: "";
					        background: $color_brand_white;
					        display: block;
					        //width: $bg-demasia-width;
					        width: 100%;
					        height: 100%;
					        position: absolute;
					        top: 0;
					        left: 100%;
					    }
					    &::after {
					        left: auto;
					        right: 100%;
					    }
					    
					    .views-element-container{
						    
						    position: relative;
						    
						    &:before{
								content: "";
								position: absolute;
							    left: -110rem;
							    top: -22rem;
								//background: url(../images/svg/mancha-blanca.svg);
								background: url(../images/svg/mancha-blanca.png);
								background-repeat: no-repeat;
								width: 3190px;
								height: 291px;
								z-index: -1;
								background-size: cover;
							}
					
							&:after{
								content: "";
							    position: absolute;
							    bottom: -5rem;
							    left: 0;
							    background: url(../images/svg/line-yellow.svg);
							    background-repeat: no-repeat;
							    background-size: cover;
							    width: 100%;
							    height: 8px;
							    z-index: 1;
							}
							
							// actual info
							.views-row{
								
								//display: flex;
							    //flex-flow: row wrap;
							    //flex-direction: row;
							    @include display-grid;
							    @include grid-parent-3-columns (1fr, 1fr, 0.7fr);
							    @include grid-parent-6-rows (auto, auto, auto, auto, auto, auto);
							    
							    @media screen and (max-width: $breakpoint_3){
								    @include grid-parent-2-columns (1fr, 1fr);
							    }
							    
							    @media screen and (max-width: $breakpoint_4){
								    @include grid-parent-1-columns (1fr);
							    }
								
								// ------------------ ------------------ ------------------ ------------------ ------------------ ------------------ 
								// Inicio estilos datos de fecha, horario, inversión, descuentos y en contacto
								// ------------------------------------ ------------------ ------------------ ------------------ ------------------ 
								
								// ------------------ 
								// Fecha de inicio
								// ------------------
								.views-field-field-fecha-de-inicio{
									//border-right: 1px solid $color_gray_10;
									padding: 1rem;
									border-right: 1px solid $color_gray_10;
									@include grid-child-column (1, 2);
									@include grid-child-row (1, 1);
									position: relative;
									
									@media screen and (max-width: $breakpoint_4){
										border-bottom: 1px solid $color_gray_10;
										border-right: 0px;
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_50;
									}
									
									.field-content{
										font-size: $font-brandb-m;
										line-height: $font-brandb-m;
										font-family: $font-AG-black;
									}
									
								}
								
								// ------------------ 
								// Tematica
								// ------------------
								.views-field-field-tema{
									padding: 1rem;
									border-right: 1px solid $color_gray_10;
									border-top: 1px solid $color_gray_10;
									@include grid-child-column (2, 3);
									@include grid-child-row (2, 2);
									
									@media screen and (max-width: $breakpoint_4){
										border-bottom: 1px solid $color_gray_10;
										border-right: 0px;
										@include grid-child-column (1, 2);
										@include grid-child-row (6, 6);
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-baseb;
									}
									
									.field-content{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_80;
									}
									
								}
								
								// ------------------ 
								// Inversion texto
								// ------------------
								.views-field-field-inversion-texto{
									padding: 1rem;
									border-right: 1px solid $color_gray_10;
									border-top: 1px solid $color_gray_10;
									@include grid-child-column (1, 2);
									@include grid-child-row (3, 3);
									
									@media screen and (max-width: $breakpoint_4){
										border-bottom: 1px solid $color_gray_10;
										border-right: 0px;
										@include grid-child-column (1, 2);
										@include grid-child-row (5, 5);
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-baseb;
									}
									
									.field-content{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_80;
									}
									
								}
								
								// ------------------ 
								// Fecha de finalizacion
								// ------------------
								.views-field-field-fecha-de-finalizacion{
									padding: 0 1rem 1rem;
									border-right: 1px solid $color_gray_10;
									@include grid-child-column (1, 2);
									@include grid-child-row (2, 2);
									position: relative;
									
									@media screen and (max-width: $breakpoint_3){
									}
									
									@media screen and (max-width: $breakpoint_4){
									    border-right: 0px;
									    border-bottom: 1px solid $color_gray_10;
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_50;
									}
									
									.field-content{
										font-size: $font-brandb-m;
										line-height: $font-brandb-m;
										font-family: $font-AG-black;
									}
									
								}
								
								// ------------------ 
								// Inversión
								// ------------------
								/*.views-field-field-inversion{
									@include grid-child-column (1, 2);
									@include grid-child-row (3, 3);
									border-right: 1px solid $color_gray_10;
									position: relative;
									
									@media screen and (max-width: $breakpoint_3){
									}
									
									@media screen and (max-width: $breakpoint_4){
									    border-right: 0px;
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_50;
									}
									
									.field-content{
										font-size: $font-brandb-l;
										line-height: $font-brandb-l;
										font-family: $font-AG-black;
									}
									
								}*/
								
								// ------------------ 
								// Horario
								// ------------------
								.views-field-field-horario{
									padding: 1rem;
									@include grid-child-column (2, 3);
									@include grid-child-row (1, 2);
									border-right: 1px solid $color_gray_10;
									position: relative;
								    
								    @media screen and (max-width: $breakpoint_3){
									}
									
									@media screen and (max-width: $breakpoint_4){
									    border-right: 0px;
									    border-top: 1px solid $color_gray_10;
									    border-bottom: 1px solid $color_gray_10;
									    @include grid-child-column (1, 2);
									    @include grid-child-row (4, 4);
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_50;
									}
									
									.field-content{
										font-size: $font-brandb-m;
										line-height: $font-brandb-m;
										font-family: $font-AG-black;
									}
									
								}
								
								// ------------------ 
								// Descuentos especiales
								// ------------------
								.views-field-field-descuentos-especiales{
									padding: 1rem;
									border-top: 1px solid $color_gray_10;
									border-right: 1px solid $color_gray_10;
									@include grid-child-column (2, 3);
									@include grid-child-row (3, 3);
									position: relative;
									
									@media screen and (max-width: $breakpoint_4){
										border-right: 0px;
										@include grid-child-column (1, 2);
										@include grid-child-row (7, 7);
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-baseb;
									}
									.field-content{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_80;
									}
								}
								
								// ------------------ 
								// dirigido a
								// ------------------
								.views-field-field-dirigido-a{
									padding: 1rem;
									@include grid-child-column (3, 4);
									@include grid-child-row (1, 3);
									position: relative;
									align-self: end;
								    
								    @media screen and (max-width: $breakpoint_3){
									    @include grid-child-column (1, 2);
										@include grid-child-row (4, 4);
										border-top: 1px solid $color_gray_10;
										border-right: 1px solid $color_gray_10;
									}
									
									@media screen and (max-width: $breakpoint_4){
										border-right: 0px;
										@include grid-child-row (3, 3);
									}
									
									.views-label{
										font-size: $font-baser-s;
										font-family: $font-basel;
										color: $color_gray_50;
									}
									
									.field-content{
										//font-size: $font-brandb-l;
										//line-height: $font-brandb-l;
										//font-family: $font-AG-black;
										font-size: $font-brandb-m;
										line-height: $font-brandb-m;
										font-family: $font-AG-black;
									}
									
								}
								
								// ------------------ 
								// boton inscripciones
								// ------------------
								.views-field-field-inscripciones{
									padding: 1rem;
									@include grid-child-column (3, 4);
									@include grid-child-row (3, 4);
									position: relative;
								    
								    @media screen and (max-width: $breakpoint_3){
									    border-top: 1px solid $color_gray_10;
									    @include grid-child-column (2, 3);
										@include grid-child-row (4, 4);
									}
									
									@media screen and (max-width: $breakpoint_4){
									    @include grid-child-column (1, 2);
										@include grid-child-row (8, 8);
									}
									
									a{
										@include selector-white-line;
									}
									
								}
								
							}
						    
					    }
						
					}
					
				}
				
			}
			
		}
		
	}
	
}